@import "./reset.scss";

$colorGray: #f9f9f9;
$colorCopy: rgba(0,0,0,.8);

$serifFamily: Georgia,Cambria,"Times New Roman",Times,serif;
$sansSerifFamily: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;

// $smFontSize: 1.3125em;
// $smLineHeight: 1.58em;
// $smLetterSpacing: -.003em;

$smFontSize: 1.1em;
$smLineHeight: 1.58em;
$smLetterSpacing: -.003em;

body {
  background: $colorGray;
  color: $colorCopy;
  font-family: $serifFamily;
  font-weight: 400;
  font-style: normal;
  font-size: $smFontSize;
  line-height: $smLineHeight;
  letter-spacing: $smLetterSpacing;
}

nav {
  display: block;
  position: fixed;
  width: 100%;
  background: $colorGray;
  min-height: 3em;
  height: auto;
  top: 0;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,.5);
}

.nav-toggle {

  display: block;
  width: 100%;

  div {

    width: 20px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.49);
    margin: 4px auto;
    &:first-child {
      margin-top: 1em;
    }
    &:last-child {
      margin-bottom: 1em;
    }
  }
}

.nav-toc {
  display: none;
}

.nav-toc--open {
  display: block;
  width: 100%;
  height: 100%;
}

article {
  width: 100%;
  padding: 0 0 0 0em;
}

section {
  margin-bottom: 2em;
  border-top: 2em solid #eee;
}

p {

  padding: 1em 1.5em;
  // text-indent: 2em;

  &:first-of-type {
    text-indent: 0;
  }
}

blockquote {
  font-size: 1.25em;
  color: rgba(0,0,0,.7);
  background: #f0f0f0;
  padding: 2em 2em;
  p {
    padding: 1em 0;
  }
}

@media (min-width: 700px) {

  body {
    font-size: 1.3125em
  }

  nav {
    display: block;
    width: 360px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
  }

  .nav-toggle {
    display: none;
  }

  .nav-toc {
    display: block;
    width: 100%;
    height: 100%;
  }

  article {
    max-width: 700px;
    margin: 0 auto;
    padding-left: 360px;
    padding-bottom: 4em;
  }
}

:target:before {
  content:"";
  display:block;
  height:5em; /* fixed header height*/
  margin:-5em 0 0; /* negative fixed header height */
}

h2 {
  border-top: none;
  padding: 1.5em 0 .5em;
  margin-top: 0;
  font-family: $serifFamily;
  text-align: center;
  font-size: 1.75em;
  &:before {
    content: '\2014';
    padding-right: .5em;
    color: #ddd;
  }
  &:after {
    content: '\2014';
    padding-left: .5em;
    color: #ddd;
  }
}


h3 {
  font-family: $sansSerifFamily;
  border-top: 1px solid #ccc;
  text-align: left;
  padding-top: 4em;
  margin-top: 1em;
  padding-left: 1.5em;
  font-weight: bold;
}

h2, h3 {
  a {
    color: inherit;
  }
  a:hover {
    text-decoration: none;
  }
}



ul {
  font-size: .74em;
  list-style: none;
  padding: 1em 0 1em 2em;
  font-family: $sansSerifFamily;
  color: rgba(0,0,0,.75);
}

ul a {
  color: inherit;
}

li > ul {
  font-size: 1em;
  color: rgba(0,0,0,.5);
}

a {
  color: #2770e4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.byline {
  margin: 0;
  padding: 0;
  text-align: center;
  font-style: italic;
}

.screen-reader-only {
	border:0;
	clip:rect(0000);
	height:1px;
	margin:-1px;
	overflow:hidden;
	padding:0;
	position:absolute;
	width:1px;
}
