/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #f9f9f9;
  color: rgba(0, 0, 0, 0.8);
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1em;
  line-height: 1.58em;
  letter-spacing: -0.003em; }

nav {
  display: block;
  position: fixed;
  width: 100%;
  background: #f9f9f9;
  min-height: 3em;
  height: auto;
  max-height: 100%;
  top: 0;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

.nav-toggle {
  display: block;
  width: 100%;
  cursor: pointer; }
  .nav-toggle div {
    width: 20px;
    height: 2px;
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    margin: 4px auto; }
    .nav-toggle div:first-child {
      margin-top: 1em; }
    .nav-toggle div:last-child {
      margin-bottom: 1em; }

.nav-toc {
  display: none;
  font-size: 1em;
  list-style: none;
  padding: 1em 0 2em 2em;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.75); }
  .nav-toc a {
    color: inherit; }
  .nav-toc .nav-toc--active {
    text-decoration: underline;
    color: #2770e4;
    font-weight: bold; }
  .nav-toc li > ul {
    font-size: 1em;
    color: rgba(0, 0, 0, 0.5);
    padding: 1em 0 2em 0em; }
    .nav-toc li > ul .nav-toc--active-h3 {
      color: #2770e4; }

.nav-toc--open {
  display: block;
  width: 100%; }

article {
  width: 100%;
  padding: 0 0 0 0em;
  -webkit-overflow-scrolling: touch; }

.article-inner {
  max-width: 768px;
  margin: 0 auto; }

section {
  margin-bottom: 2em;
  border-top: 2em solid #eee; }

p {
  padding: 1em 1.5em; }
  p:first-of-type {
    text-indent: 0; }

blockquote {
  font-size: 1.25em;
  color: rgba(0, 0, 0, 0.7);
  background: #f0f0f0;
  padding: 2em 2em; }
  blockquote p {
    padding: 1em 0; }

@media (min-width: 768px) {
  body {
    font-size: 1.3125em; }
  nav {
    display: block;
    width: 360px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100; }
  .nav-toggle {
    display: none; }
  .nav-toc {
    padding-top: 2em;
    display: block;
    width: 100%;
    font-size: .76em; }
    .nav-toc li > ul {
      font-size: 1em;
      padding: 1em 0 2em 2em; }
  article {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    padding-left: 360px;
    padding-bottom: 4em; } }

:target:before {
  content: "";
  display: block;
  height: 4em;
  /* fixed header height*/
  margin: -4em 0 0;
  /* negative fixed header height */ }

h2 {
  border-top: none;
  padding: 3.25em 0 .5em;
  margin-top: 0;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  text-align: center;
  font-size: 2.5em;
  width: auto; }
  h2:before {
    padding-right: .5em;
    color: #ddd; }
  h2:after {
    padding-left: .5em;
    color: #ddd; }

.emphasis {
  text-decoration: underline; }

.signature {
  font-style: italic; }

.separation {
  color: rgba(0, 0, 0, 0.8);
  text-align: center; }

h3 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  border-top: 1px solid #ccc;
  text-align: left;
  padding: 4em .95em 1em .95em;
  margin-top: 1em;
  font-weight: bold;
  font-size: 1.5em; }

h2 a, h3 a {
  color: inherit; }

h2 a:hover, h3 a:hover {
  text-decoration: none; }

a {
  color: #2770e4;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.byline {
  margin: 0;
  padding: 0;
  text-align: center;
  font-style: italic; }

.screen-reader-only {
  border: 0;
  clip: rect(0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

@media only print {
  nav {
    display: none; }
  section {
    border-top: none;
    margin-bottom: 0em; }
  h2, h3 {
    border: none;
    padding-top: 2em; }
  a {
    color: inherit; } }
