

body {
  background: #f9f9f9;
  color: rgba(0,0,0,.8);
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  /*font-size: 1.3125em*/
  line-height: 1.58;
  letter-spacing: -.003em;
}

nav {
  display: block;
  position: fixed;
  width: 100%;
  background: #f9f9f9;
  min-height: 2em;
  height: auto;

  top: 0;
}

.nav-toc {
  display: none;
}

article {
  width: 100%;
  padding: 0 0 0 4em;
}

section {
  margin-top: 2em;
  border-top: 2em solid #eee;
}

@media (min-width: 700px) {

  body {
    font-size: 1.3125em
  }

  nav {
    display: block;
    width: 360px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
  }

  article {
    max-width: 700px;
    margin: 0 auto;
    padding-left: 360px;
    padding-bottom: 4em;
  }
}





h1,h2,h3 {
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  text-align: center;
}

h2 {
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  font-size: 1.75em;

}

h2 a, h3 a {
  color: inherit;
}

h2 a:hover, h3 a:hover {
  text-decoration: none;
}

h2:first-of-type {
  border-top: none;
  padding-top: 1em;
}

h1 {

  font-size: 2em;
  padding: 1em;
}

h3 {
  border-top: 1px solid #ccc;
  text-align: left;
  padding-top: 4em;
  margin-top: 1em;
}

p {
  font-size: 1em;
}

blockquote {
  font-size: 1.15em;
  color: rgba(0,0,0,.7);
  background: #f0f0f0;

  margin: 0;
  padding: 1em 2em;
}



ul {
  font-size: .74em;
  list-style: none;
  padding: 1em 0 1em 2em;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  color: rgba(0,0,0,.75);
}

h2 {
  margin-top: 0;
}



ul a {
  color: inherit;
}

li > ul {
  font-size: 1em;
  color: rgba(0,0,0,.5);
}

a {
  color: #2770e4;
  text-decoration: none;
}

a:hover {
  /*color: rgba(0,0,0,1);*/
  text-decoration: underline;
}

.byline {
  margin: 0;
  padding: 0;
  text-align: center;
  font-style: italic;
}



.screen-reader-only {
	border:0;
	clip:rect(0000);
	height:1px;
	margin:-1px;
	overflow:hidden;
	padding:0;
	position:absolute;
	width:1px;
}
